body {
    background-image: url("https://2.bp.blogspot.com/-gG5r6xwG7gI/X6r6vColjEI/AAAAAAAAJyg/EWhtUIUb90woFrtN1ggjsrXzub2MvWKLACK4BGAYYCw/w1200/icebackground.jpg");
    background-size: 100%;
    font-family: 'Courier New';
    color: #D52C1F;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.content {
    background-color: rgb(121, 185, 241);
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 40px;
    padding-top: 1px;

}

.title {
    font-size: 4rem;
    font-weight: lighter;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(rgba(255, 255, 255, 0.3), transparent);
    padding: 20px;
    margin: 10px -27px;
}

.date {
    font-family: Arial;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
}

.group-label {
    font-family: Arial;
    font-size: 1.4rem;
    font-weight: lighter;
    margin-top: 50px;
}

.people {
    text-align: center;
}

.people p {
    margin: 3px;
    font-size: 0.9rem;
}

.people img {
    border: 6px solid white;
    margin-top: 15px;
    max-width: 350px;
}

p.person-label {
    margin-top: 15px;
    margin-bottom: -10px;
}

nav {
    margin-bottom: 40px;
}

/* styles for the nav */
nav a, nav a:visited {
    color: #D52C1F;
    margin-right: 8px;
    font-size: 1.2rem;
    text-decoration: none;
    position: relative;
}

nav a::after {
    content: ' ';
    height: 1px;
    width: 0px;
    background-color: #D52C1F;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: 0.3s all;
}

nav a:hover::after, nav a.active::after {
    width: 100%;
}

/* styles for the homepage */
.home {
    text-align: center;
    margin-top: 50px;
}

.home-image {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.home img {
    width: 500px;
    transition: 0.8s all;
    position: relative;
    z-index: 10;
}

/* styles for homepage image animation */
.home img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 480px;
    z-index: 0;
    opacity: 0;
    transition: 0s all;
}  

.home img:nth-child(1):hover {
    opacity: 0;
}

.home img:nth-child(1):hover + img {
    opacity: 1;
}