
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@200&family=Xanh+Mono&family=Yusei+Magic&display=swap');

html {
    height: 100%;
}

body {
    background-image: url("https://images.unsplash.com/photo-1593936639737-35be481dc1d0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    font-family: 'Xanh Mono', monospace;
    color: #4F4759;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

img {
    max-width: 100%;
}

.content {
    background-color: rgb(132,165,184);
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 40px;
    padding-top: 1px;

}

.title {
    font-size: 4rem;
    font-weight: lighter;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(rgba(255, 255, 255, 0.3), transparent);
    padding: 20px;
    margin: 10px -27px;
}

.group-label {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.4rem;
    font-weight: lighter;
    margin-top: 50px;
}

.people {
    text-align: center;
}

.people p {
    margin: 3px;
    font-size: 0.9rem;
}

.people img {
    border: 6px solid white;
    margin-top: 15px;
    max-width: 350px;
}

p.person-label {
    margin-top: 15px;
    margin-bottom: -10px;
}

nav {
    margin-bottom: 40px;
}

/* styles for the nav */
nav a, nav a:visited {
    color: #F2F4F2;
    margin-right: 8px;
    font-size: 1.2rem;
    text-decoration: none;
    position: relative;
}

nav a::after {
    content: ' ';
    height: 1px;
    width: 0px;
    background-color: #F2F4F2;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: 0.3s all;
}

nav a:hover::after, nav a.active::after {
    width: 100%;
}

/* styles for the homepage */
.home {
    text-align: center;
    margin-top: 50px;
}

.home-image {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.home img {
    width: 500px;
    transition: 0.8s all;
    position: relative;
    z-index: 10;
}

/* styles for homepage image animation */
.home img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 480px;
    z-index: 0;
    opacity: 0;
    transition: 0s all;
}  

.home img:nth-child(1):hover {
    opacity: 0;
}

.home img:nth-child(1):hover + img {
    opacity: 1;
}

/* styles for animated clicky snowflakes */

.frosty {
  --scale-x: 0;
  --scale-y: 0;
  background: url("../media/frosty.webp") no-repeat;
  background-size: cover;
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - .5rem);
  border-radius: 50%;
  z-index: 1000;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
  transform: translate(calc( var(--x) * 1px ), calc( var(--y) * 1px )) translate(-50%, -50%);
  pointer-events: none;
  animation: treat-enter 0.1s ease-in backwards, treat-exit 300ms linear calc( (var(--lifetime, 3000) * 1ms) - 300ms) forwards;
}
@keyframes treat-enter {
  from {
    opacity: 0;
  }
}
@keyframes treat-exit {
  to {
    opacity: 0;
  }
}
.frosty .inner {
  animation: inner-rotate 0.6s linear infinite;
  transform: rotate(calc(-1turn * var(--direction) ));
}
@keyframes inner-rotate {
  to {
    transform: none;
  }
}

/* snowflake effect */
.snow, .winter-is-coming {
  z-index: 100;
  pointer-events: none;
}

.winter-is-coming {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 100%;
  z-index: -1;
}

.snow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: falling linear infinite both;
          animation: falling linear infinite both;
  transform: translate3D(0, -100%, 0);
}
.snow--near {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
  background-size: contain;
}
.snow--near + .snow--alt {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.snow--mid {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
  background-size: contain;
}
.snow--mid + .snow--alt {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.snow--far {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
  background-size: contain;
}
.snow--far + .snow--alt {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes falling {
  0% {
    transform: translate3D(-7.5%, -100%, 0);
  }
  100% {
    transform: translate3D(7.5%, 100%, 0);
  }
}

@keyframes falling {
  0% {
    transform: translate3D(-7.5%, -100%, 0);
  }
  100% {
    transform: translate3D(7.5%, 100%, 0);
  }
}